
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Menu</h2>

<button onclick="location.href='@Url.Action("Create", "Events")';return false;">Add Event</button>
<button onclick="location.href='@Url.Action("List", "Employments")';return false;">Employment</button>
<button onclick="location.href='@Url.Action("RedactedList", "Donations")';return false;">Donations</button>
<button onclick="location.href='@Url.Action("FullList", "Donations")';return false;">Donations - HTTPS</button>
<button onclick="location.href='@Url.Action("Admin", "QandA")';return false;">Answer Questions</button>
<button onclick="location.href='@Url.Action("Index", "Users")';return false;">User List</button>