@model IEnumerable<Strek4Mayor.Models.NewsArticle>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script>
    $().ready(function () {
        $('.linkButton').click(
            function () {
                var linkUrl = $(this).attr('id');
                window.open(linkUrl, '_blank');
            });
    });
        
</script>
<style>
     a:link    {
         color:blue; 
         background-color:transparent; 
         font-weight: bold; 
         text-decoration:none;
     }
     a:visited {
         color:blue; 
         background-color:transparent; 
         font-weight: bold; 
         text-decoration:none;
     }
     a:hover   {
         color:red;
         background-color:transparent; 
         font-weight: bold; 
     }
     a:active  {
         color:blue; 
         background-color:transparent; 
         font-weight: bold; 
     }

    .links {
        width: 1024px;
        height: 800px;
        border: none;
        pointer-events: none;
        width: 15%;
    }

    .linkButton {
        cursor: pointer;
        height: 100px !important;
        width: 100px;
        overflow: hidden;
    }

    .article-container {
        background-color: #EEE8AA;
        border: 1px solid #D2B48C;
        margin-top: 2vh;
        padding: 15px;
    }
</style>

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New Article", "Create")
    </p>
}
    @foreach (var item in Model)
    {
                <div class="article-container">
                    <div class="linkButton" id="@item.Url">
                        <div class="links">
                            <iframe src="@item.Url" scrolling="no" @*frameborder="0"*@></iframe>
                        </div>
                    </div>
                    <a href="@item.Url">@Html.DisplayFor(modelItem => item.Title)</a>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </div>//I am not a CSS wizard. I wanted to have this float top left next to the thumbnail but couldn't
    }
