@model IEnumerable<Strek4Mayor.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title></title>
    <link href="~/Content/tables.css" rel="stylesheet" type="text/css" />
</head>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.Name(" | ")
    @Html.ActionLink("Go To Calendar", "List")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                </td>
            }
        </tr>
    }

</table>