@model Strek4Mayor.Models.volunteer
@using BotDetect.Web.Mvc;
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/volunteer.css")" />
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
@{
    Layout = null;
}

<h2>Volunteer</h2>

@using (Html.BeginForm("AjaxCreate", "Volunteers"))
{
    @Html.AntiForgeryToken()


        <h4>volunteer</h4>
        <hr />
        <div id="logo">
            <div id="left-pannel">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("First Name *")

                        @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-10">
                        @Html.Label("address 1 *")
                        @Html.EditorFor(model => model.adress_1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.adress_1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("City *")
                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Email *")
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div><!--End of left pannel div-->

            <div id="right-pannel">

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Last Name *")
                        @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Address 2")
                        @Html.EditorFor(model => model.adress_2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.adress_2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("State *")
                        @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.Label("Phone Number *")
                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div><!--End of right pannel div-->

            <div class="clear"></div>

            <div id="bottom-pannel">
                @ViewBag.errormessage

                <ul>

                    <li>
                        <div class="form-group width2">
                            @Html.LabelFor(model => model.vol1, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.vol1)
                                    @Html.ValidationMessageFor(model => model.vol1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="form-group width2">
                            @Html.LabelFor(model => model.vol2, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.vol2)
                                    @Html.ValidationMessageFor(model => model.vol2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>

                        <div class="form-group width2">
                            @Html.LabelFor(model => model.vol3, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.vol3)
                                    @Html.ValidationMessageFor(model => model.vol3, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </li>

                </ul>
                <div id="clear"></div>

                @{ MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                    exampleCaptcha.UserInputID = "CaptchaCode";}
                @Html.Captcha(exampleCaptcha)
                @Html.TextBox("CaptchaCode")
                <p class="Error">  @ViewBag.ErrMessage </p>


                <input type="submit" value="Create" class="btn btn-default" />

            </div><!--end of the bottom pannel div-->
            
        </div><!--end of logo div-->
                    }
<div class="clear"></div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>