@model IEnumerable<Strek4Mayor.Models.QandA>


      <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/QandA.css")" />
      <p>
      <input type="button" id="submit" class="question-button" value="Ask Me a Question" onclick="location.href='@Url.Action("Create", "QandA")'" />
      <br />
         @if (User.IsInRole("Admin"))
             {
                using (Html.BeginForm("Search", "QandA", FormMethod.Post))
                {
                    @Html.TextBox("SearchString"); <br />
                    <input type="submit" value="Search" />
                }
             }
             
      </p>

@foreach (var item in Model)
{
    if (item.MessageStatus == true)
    {
        <div class="question-box">
            @Html.Label("Question: ")
            @{
                var paragraphs = item.Body.Replace("\r\n", "<br />").Replace("\n", "<br />").Replace("\r", "<br />");
            }
            @Html.Raw(paragraphs)
            <br />
            @Html.Label("Asked by: ")
            @Html.DisplayFor(modelItem => item.Member)
            @Html.Name(" on ")
            @Html.DisplayFor(modelItem => item.Date)
            <br />
            @if (item.Title!="") {
                @Html.Label("Topic: ")
                @Html.DisplayFor(modelItem => item.Title)
            }
            <hr />
            @Html.Label("Answer: ")
            @{
                paragraphs = item.Answer.Replace("\r\n", "<br />").Replace("\n", "<br />").Replace("\r", "<br />");
            }
            @Html.Raw(paragraphs)
               
            @if (User.IsInRole("Admin"))
            {
                    @Html.ActionLink("Edit", "Edit", new { id = item.QandAId })
                    @Html.Name(" | ")
                    @Html.ActionLink("Details", "Details", new { id = item.QandAId })
                    @Html.Name(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.QandAId })
            }
        </div>
    }
}