@model IEnumerable<Strek4Mayor.Models.QandA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>I am always here to answer question and help out. Please don't be offensive or rude or your message will not be posted. I take crticism very well, and am alsways looking to better myself for the good of the people of Eugene.</h1>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QandAId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QandAId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QandAId })
        </td>
    </tr>
}

</table>
