@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: #a0d8f3;
        }
        #view-box {
            background: url(@Url.Content("~/Pictures/BackgroundWall.png"));
            margin: 2% auto;
            font-family: sans-serif;
            position: absolute;
            top: 7vh;
            left: 8vw;
            right: 8vw;
        }
        #ajax-box {
            padding: 3% 4%;
        }
        h1 {
            font-family: sans-serif;
            color: #DB2929;
        }

        #navbar {
	        border-radius: 60px;
	        border: 1px solid #808080;
	        box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
	        height: 6vh;
	        left: 2vw;
            right: 2vw;
	        top: 2vh;
	        position: fixed;
	        width: 96vw;
        }
        #navbar {
	        border-radius: 60px;
	        border: 1px solid #808080;
	        box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
	        height: 6vh;
	        left: 2vw;
            right: 2vw;
	        top: 2vh;
	        position: fixed;
	        width: 96vw;
            z-index: 1;

        }
        .left-curve {
            border-top-left-radius: 60px;
            border-bottom-left-radius: 60px;
        }
        .right-curve {
            border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
        }
        .navlink {
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
            color: black;
            font-size: 2vw;
            font-weight: bold;
        }
        .navlink:hover {
            cursor: pointer;
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            text-decoration: none;
        }
        .highlighted {
            text-decoration: underline !important;
        }
        .navlink {
            float: left;
            height: 100%;
            line-height: 6vh;
            text-align: center;
            vertical-align: middle;
            width: 16.66%;
        }
        .tile-1 {
            background: url(@Url.Content("~/Pictures/Flag1.png")) no-repeat;
            background-size: cover;
        }
        .tile-2 {
            background: url(@Url.Content("~/Pictures/Flag2.png")) no-repeat;
            background-size: cover;
        }
        .tile-3 {
            background: url(@Url.Content("~/Pictures/Flag3.png")) no-repeat;
            background-size: cover;
        }
        .tile-4 {
            background: url(@Url.Content("~/Pictures/Flag4.png")) no-repeat;
            background-size: cover;
        }
        .tile-5 {
            background: url(@Url.Content("~/Pictures/Flag5.png")) no-repeat;
            background-size: cover;
        }
        .tile-6 {
            background: url(@Url.Content("~/Pictures/Flag6.png")) no-repeat;
            background-size: cover;
        }
        .tile-1:hover {
            background: url(@Url.Content("~/Pictures/DarkFlag1.png")) no-repeat;
            background-size: cover;
        }
        .tile-2:hover {
            background: url(@Url.Content("~/Pictures/DarkFlag2.png")) no-repeat;
            background-size: cover;
        }
        .tile-3:hover {
            background: url(@Url.Content("~/Pictures/DarkFlag3.png")) no-repeat;
            background-size: cover;
        }
        .tile-4:hover {
            background: url(@Url.Content("~/Pictures/DarkFlag4.png")) no-repeat;
            background-size: cover;
        }
        .tile-5:hover {
            background: url(@Url.Content("~/Pictures/DarkFlag5.png")) no-repeat;
            background-size: cover;
        }
        .tile-6:hover {
            background: url(@Url.Content("~/Pictures/DarkFlag6.png")) no-repeat;
            background-size: cover;
        }
        .border-right {
            border-right: 1px solid black;
            background-size: cover;
        }
        @*
        #right-panel {
            background: #EEE8AA;
            border: 1px solid orange;
            font-size: 1.2vw;
            padding: 2%;
            position: absolute;
            right: 2vw;
            text-align: center;
            top: 10vh;
            width: 20vw;
        }

        #banner {
            left:8vw;
            position: absolute;
            right:8vw;
            top: 10vh;
        }
            *@
        #banner img {
            max-width: 100%;
            text-align: center;
            width: 100%;
        }
        .admin {
            margin-right: 20px;
        }
        .admin h3 {
            margin-top: 0;
        }
        .admin button {
            clear: left;
            margin: 10px;
        }
        .come-back-soon {
            background: url(@Url.Content("~/Pictures/FlagRightHalf.jpg")) no-repeat;
            background-size: cover;
            float: left;
            height: 100%;
            line-height: 6vh;
            text-align: center;
            vertical-align: middle;
            width: 50%;
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            font-size: 2vw;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="navbar">
        
            <div class="navlink border-right left-curve tile-1">
                Home
            </div>
        
            <div class="navlink border-right tile-2">
               About
            </div>

            <div class="navlink tile-3 border-right">
                On The Issues
            </div>

            <div class="navlink border-right tile-4">
                Donate
            </div>

            <div class="navlink border-right tile-5">
                Calendar
            </div>

            <div class="navlink right-curve tile-6">
                Q and A
            </div>
    </div>   
        
        @*
    <div id="right-panel">
        <a href='@Url.Action("Make", "Donations")'>
            <img src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" alt="PayPal - The safer, easier way to pay online!">
        </a>
        <div style="margin-top:20px;">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <button onclick="location.href='@Url.Action("Index", "Admin")';return false;">Admin</button>
                }
                else
                {
                    <button onclick="location.href='@Url.Action("Edit", "Users", new { id = HttpContext.Current.User.Identity.GetUserId() })';return false;">Profile</button>
                }
                <button onclick="location.href='@Url.Action("LogOut", "Users")';return false;">Logout</button>
            }
            else
            {
                <button onclick="location.href='@Url.Action("Login", "Users")';return false;">Login</button>
                <button onclick="location.href='@Url.Action("Register", "Users")';return false;">Register</button>
            }
        </div>
    </div>
        *@
    <div id="view-box">
        <a href='@Url.Action("Index", "Home")'>
            <div id="banner">
                <img src="@Url.Content("~/Pictures/StefanBannerV2.png")" />
            </div>
        </a>
        <div id="ajax-box">
            @RenderBody()
        </div>
        <div style="clear:both;padding-top:5vh;padding-bottom:2vh;">
            <p align="center" style="font-size:x-small;">
                <i>Paid for by:</i> Thoughtful Locals for Strong Communities
                <br /><a href="mailto:Stefan.G.Strek@gmail.com?Subject=Eugene%20Mayor" target="_top">Stefan.G.Strek@gmail.com</a>
            </p>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/banner.js")"></script>
</body>
</html>
