@model IEnumerable<Strek4Mayor.Models.Donation>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor.Employment.Unemployed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor.Employment.Employer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donor.Employment.Occupation)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor.Employment.Unemployed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor.Employment.Employer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donor.Employment.Occupation)
        </td>
    </tr>
}

</table>
