@model Strek4Mayor.Models.DonationVM

@{
    ViewBag.Title = "Make";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .amount-button {
        font-size: xx-large;
        font-weight: bold;
    }
    .amount-button span {
        border: 1px solid black;
        padding: 5px;
    }
    .amount-button span:hover {
        cursor: pointer;
    }
    .highlight {
        background-color: greenyellow !important;
    }
</style>

<h2>Make a Donation</h2>
<hr />

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "donation-form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group" style="margin-top:50px;">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @id = "amount-field" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-8 amount-button">
                <span id="5" class="dollar">$5</span>
                <span id="10" class="dollar">$10</span>
                <span id="20" class="dollar">$20</span>
                <span id="50" class="dollar">$50</span>
                <span id="100" class="dollar">$100</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoEmployment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoEmployment, new { htmlAttributes = new { @id = "employ-check", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoEmployment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "employ-data control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @id="occupation-text", @class = "employ-data" } })
                @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger employ-data" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Employer, htmlAttributes: new { @class = "employ-data control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Employer, new { htmlAttributes = new { @class = "employ-data" } })
                @Html.ValidationMessageFor(model => model.Employer, "", new { @class = "text-danger employ-data" })
            </div>
        </div>
    </div>
    <hr />
    <input type="submit" value="Continue" style="margin-left:15vw;" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/donation.js")"></script>
